# Copy this file to .env and fill in your real keys.
# Change model select can be done by changing the model name, 
# default to claude-sonnet-4.5 and nvidia/nemotron-3-super-120b-a12b:free
# Do not enter your API here. 

# Claude
ANTHROPIC_API_KEY=
# ANTHROPIC_MODEL=claude-sonnet-4-5

# OpenRouter (free) 
# Get a key at https://openrouter.ai/keys
OPENROUTER_API_KEY=
# OPENROUTER_MODEL=nvidia/nemotron-3-super-120b-a12b:free

# Local Database config
# defaults to backend/manufacturing.db
# CHATBOT_DB_PATH=backend/manufacturing.db
